.recentText {
    position: relative;
    font-size: 8rem;
    text-transform: capitalize;
    color: transparent;
    -webkit-text-stroke: 3px #ffffff;
    transition: transform 0.1s ease;  
    width :100% 
  }

  .recentText::before {
    content: attr(data-fill-text);
    position: absolute;
    width: 0;
    height: 100%;
    color: #ffffff;
    -webkit-text-stroke: 0px transparent;
    overflow: hidden;
    transition:  ease;

  }

  /* cubic-bezier(0.165, 0.84, 0.44, 0.002) */
  /* .recentText:hover::before {
    width: 100%;
  }
  */
