.join__main{
    
    width: 100%; 
    display: flex; 
    align-items: center;
    gap: 70px;
    flex-direction: column;
    
}
.sub1__join__main{
    width: 100%; 
    height: 40%; 
    display: flex ;
    justify-content: center; 

}
.sub__sub{
    width: 80%; 
    height: 100%; 
    display: flex;
    flex-direction: column; 
    font-family:  "Dirtyline 36Daysoftype 2022";
    font-size: 10rem;
    line-height: 7.3rem; 
    letter-spacing: -6px;
    color: #e0eeee;

}
.sub__sub__div1{
    display: block; 
    position: relative;
   
    
    
}
.sub__sub__div2{
    display: block; 
    position: relative;
    text-align: center ;
    
    
}
.sub__sub__div3{
    display: block; 
    position: relative;
    text-align: center ;
    
    
}

.main2{
    width: 80%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 92vh;
   

}
.main2__suvdiv{
    display: flex;
    justify-content: space-between ; 
    align-items: center; 
    width: 79%; 
    height: 30%;
    font-size: 3rem;
    line-height: 2.5rem ;
    font-family: 'syne' , sans-serif;
    color: #e0eeee;
    border-bottom: 1px solid white;
    transition: width 0.5s ease-in-out; 



}
.main2__suvdiv img{
    transform: rotate(0deg);
    transition: transform 0.5s;
}
.main2__suvdiv:hover {
    width: 110% ;
    
}
.main2__suvdiv:hover .main2__suvdiv img{ 
    transform: rotate(360deg);
    
}

