.vediowrapper{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.vediowrapper video {
    transform-origin: top; 
    max-width: 100%; 
    height: auto;
    
}